/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
/* .png{
  width: 50%;
} */

.navbar {
  /* background:lightcyan ; */
  background:transparent ;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar.active{ 
  background:lightcyan ;
  /* border-radius: 0px;
  background:linear-gradient(90deg,rgb(66,2,194)0%,rgb(0,78,194)75%); */
}
/* .nav-links.active{
  color: #000000;
} */

.navbar-con {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.containernav {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-logo {
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  height: 40px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: 2px solid red;
}


.nav-links {
  color:#000000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  
}

.activated {
  color: red;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}


@media screen and (max-width: 960px)
 {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.4s ease;
  }

  .nav-menu.active {
    background: lightcyan;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 0.6rem;
    width: 100%;
    display: table;
    /* text-size-adjust: 1114px; */
  }

  .nav-links:hover {
    color: red;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;

  }

  /* .nav-item {
    width: 100%;
  } */

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%,-5%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 40%);
    font-size: 1.8rem;
    cursor: pointer;
  }


  .dropdown-content {
    display: none; 
    position: absolute;
    background-color:lightcyan;
    min-width: 150px; 
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    z-index: 1;
    left: 70px;
  }
  
  
  .dropdown{
    text-align: center;
  }
  

  
}




.dropdown-content {
  display: none;
  position: absolute;
  background-color:lightcyan;
  /* min-width: 250px; */
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 15px;
  z-index: 1;
}


.dropdown{
  text-align: center;
}


.dropdown:hover .dropdown-content  {
  display: block;

}

.hov:hover {
  color: red;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.hov{
font-size: x-small;
}

